.envrc
.vscode/settings.json
backups/
auth.env
bot.env
cloudflare.env
credentials.env
flag_*.txt
flag_*.xml
flags_*.env
letsencrypt/
modules.env
traefik/dynamic/basicauth.yml
passkeys.env
passkey-private-keys.json
