services:

  traefik:
    image: docker.io/traefik:3.3
    command:
      # https://doc.traefik.io/traefik/user-guides/docker-compose/acme-http/
      # - "--log.level=DEBUG"
      - "--api.insecure=true"
      - '--api.dashboard=true'
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:${PORT_HTTP}"
      - "--entryPoints.websecure.address=:${PORT_HTTPS}"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.myresolver.acme.email=postmaster@e-hacking.de"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "${PORT_HTTP}:${PORT_HTTP}"
      - "${PORT_HTTPS}:${PORT_HTTPS}"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: always
    labels:
      - 'traefik.http.routers.dashboard.rule=((Host(`${HOST1}`) || Host(`${HOST2}`)) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`)))'
      - 'traefik.http.routers.dashboard.priority=99999'
      - 'traefik.http.routers.dashboard.service=api@internal'
      - 'traefik.http.routers.dashboard.tls.certresolver=myresolver'
      - 'com.centurylinklabs.watchtower.enable=true'

  app:
    image: ghcr.io/ehacking-websec/ehacking/ehacking:${DOCKER_TAG}
    pull_policy: always
    depends_on:
      - traefik
      - couchdb
      - axis2-flag
      - axis2-fake
    env_file:
      - .env
      - flags_json-sec.env
      - flags_saml.env
      - flags_soap-sec.env
    environment:
      - ATTACKER_URL=https://${ATTACKER_HOST}:${PORT_HTTPS}
      - SP_URL=https://${SP_HOST}:${PORT_HTTPS}
      - SPA_URL=https://${SPA_HOST}:${PORT_HTTPS}
      - IDP_URL=https://${IDP_HOST}:${PORT_HTTPS}
      - RS_URL=https://${RS_HOST}:${PORT_HTTPS}
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.all-in-one.entrypoints=websecure'
      - 'traefik.http.routers.all-in-one.rule=(Host(`${HOST1}`) || Host(`${HOST2}`) || Host(`${IDP_HOST}`) || Host(`${JSON_HOST}`) || Host(`${REST_HOST}`) || Host(`${RS_HOST}`) || Host(`${SOAP_HOST}`) || Host(`${SP_HOST}`) || Host(`${SPA_HOST}`) || Host(`${WEBSEC_HOST}`) )'
      - 'traefik.http.routers.all-in-one.priority=1'
      - 'traefik.http.services.all-in-one.loadbalancer.server.port=80'
      - 'traefik.http.routers.all-in-one.tls.certresolver=myresolver'
      - 'com.centurylinklabs.watchtower.enable=true'
    restart: always

  attacker:
    image: mendhak/http-https-echo:31
    depends_on:
      - traefik
    expose:
      - "8080"
      - "8443"
    networks:
      - ehacking
    expose:
      - 8080
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.attacker.entrypoints=websecure"
      - "traefik.http.routers.attacker.rule=( Host(`${ATTACKER_HOST}`) || HostRegexp(`^.+\\.${ATTACKER_HOST}$`) )"
      - "traefik.http.services.attacker.loadbalancer.server.port=8080"

  axis2-flag:
    image: ghcr.io/ehacking-websec/ehacking/axis2-flag:${DOCKER_TAG}
    env_file:
      - flags_axis2-flag.env
    expose:
      - "8080"
    develop:
      watch:
        - action: rebuild
          path: ./soap-sec/internal-axis2-services

  axis2-fake:
    image: ghcr.io/ehacking-websec/ehacking/axis2-flag:${DOCKER_TAG}
    depends_on:
      - traefik
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.axis2-fake.entrypoints=websecure'
      - 'traefik.http.routers.axis2-fake.rule=(Host(`${SOAP_HOST}`) && PathPrefix(`/axis2/services/`))'
      - 'traefik.http.routers.axis2-fake.priority=10000'
      - "traefik.http.routers.axis2-fake.tls.certresolver=myresolver"
      - 'traefik.http.services.axis2-fake.loadbalancer.server.port=8080'

  couchdb:
    image: docker.io/couchdb:latest
    environment:
      COUCHDB_USER: "root"
      COUCHDB_PASSWORD: "super_secure"
    restart: always
    labels:
      - "traefik.enable=true"
      - "com.centurylinklabs.watchtower.enable=true"

  rookies:
    image: ghcr.io/ehacking-websec/rookies:latest
    pull_policy: always
    depends_on:
      - traefik
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rookies.entrypoints=websecure"
      - "traefik.http.routers.rookies.rule=Host(`${ROOKIES_HOST}`)"
      - "traefik.http.services.rookies.loadbalancer.server.port=3000"
      - "traefik.http.routers.rookies.tls.certresolver=myresolver"
      - "com.centurylinklabs.watchtower.enable=true"
    restart: always

  watchtower:
    image: docker.io/containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Berlin
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      # - WATCHTOWER_RUN_ONCE=true
      # Field name   | Mandatory? | Allowed values  | Allowed special characters
      # ----------   | ---------- | --------------  | --------------------------
      # Seconds      | Yes        | 0-59            | * / , -
      # Minutes      | Yes        | 0-59            | * / , -
      # Hours        | Yes        | 0-23            | * / , -
      # Day of month | Yes        | 1-31            | * / , - ?
      # Month        | Yes        | 1-12 or JAN-DEC | * / , -
      # Day of week  | Yes        | 0-6 or SUN-SAT  | * / , - ?
      - WATCHTOWER_SCHEDULE=0 0 7 * * * # every day on 7am
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: always